
<%= render 'layouts/google.html.erb'%>
<div class = 'row'>
	<div class = 'col-lg-10 col-md-10 col-xs-10'>
		<div class = 'panel panel-success'>
			<div class = 'panel-heading lead'>Пожелания посетителей: <span class = 'label label-primary'><%= @wishes.count%></span></div>
			<div class = 'panel-body'>
				<% @wishes.each do |wish| %>
				<p class = 'text-muted'><%= wish.created_at.strftime('%d %b %Y %H:%M') %></p>
				<%= link_to wish.title, wish%>
				<span><%= button_to 'Выполнено' , @wish, method: :delete, data: {confirm: "Вы действительно выполнили это пожелание?"},class: 'btn btn-success btn-xs'%></span>
				<hr>
				<% end %>
				</div>
				</div>
		</div>
		<div>
	</div>