<div class = 'row'>
	<div class = 'col-lg-8 col-md-8 col-xs-8'>
		<div class = 'panel panel-success'>
			<div class = 'panel-heading lead text-center'><%= @wish.title%></div>
			<div class = 'panel-body'>
				<p class = 'text-center'><%= @wish.text  %></p>
				
				<%= button_to 'Выполнено' , @wish, method: :delete, data: {confirm: "Вы действительно выполнили это пожелание?"},class: 'btn btn-success btn-sm'%></p>
				<%= button_to 'Удалить' , @wish, method: :delete, data: {confirm: "Удалить это пожелание?"},class: 'btn btn-danger btn-sm'%></p>
				<%= link_to 'назад', wishes_path %>
				</div>
			</div>
		</div>
	</div>