<div class = "container">
<p class = "lead">Добавить новость</p>
<hr>
<%= form_for @news, :html => {:multipart => true} do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-lg-4">
    <%= f.label "Заголовок" %><br>
    <%= f.text_field :title , class: "form-control"%>
  </div>
  <div class="col-lg-10">
    <%= f.label "Текст для новости" %><br>
    <%= f.text_area :description, class: "form-control", rows: 5 %>
  </div>
    <p>
      <div class = "col-lg-10">
	<label>Добавить изображение
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache  %>
      </div>
    </p>
  <div class="col-lg-4">
    <%= f.submit 'Добавить', class: 'btn btn-success'%>
  </div>
</div>
<% end %>