<div class="container">
  <div class="row">
    <% @news.each do |news| %>
	<div class="col-md-4">
		<div class="thumbnail">
		    <%= image_tag news.image_url(:thumb).to_s, class: "img-rounded"%>	
		<div class= 'caption'>
    <h5 class = "label label-success"> <%= truncate news.title, length: 39 %> </h5>
    <small><%= truncate(news.description,length:56, omission: ("...")) %></small>
	    <p> <%= link_to 'Подробнее', news_path(news),class: 'btn btn-primary' %>
		 <%= link_to 'Редактировать', edit_news_path(news), class: 'btn btn-warning btn-xs' if current_user.try(:admin)%>
		</div>
		</div>
		</div>
        <% end%>

  </div>

<%= will_paginate @news, class: 'apple_pagination'%>
