<div class="container">

  <div class="row">

    <% @news.each do |news| %>
    <div class="col-lg-12">
    <h2> <%= news.title %> </h2>
    <p> <%= image_tag news.image_url(:thumb).to_s%> </p>
    <p> <%= news.description %> </p>
	    <p> <%= link_to 'Подробнее', news_path(news.id),class: 'btn btn-default' %></p>
		<p><muted>Добавлено: <%= news.created_at %></muted></p>
      <hr>
    </div>
        <% end%>

  </div>

</div>