<div class="container">
<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @news.title %></strong>
</h2>
<hr>
  <p><%= image_tag (@news.image_url(:thumb)).to_s %></p>
<p>
  <%= @news.description %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
</div>