<%= render 'layouts/google.html.erb'%>

	<h1 class = 'myh1'> Галерея <p>PSCLUB в харькове представляет</p></h1>
<div class = 'container custom_container'>
	<div class = 'otstup'></div>
	
	<div class = 'row upper_images'>
		
		<div class = ' col-md-7 col-xs-7 '><%= image_tag('kepka.png', class: 'img-responsive')%></div>
		<div class = 'col-md-5 col-xs-5'><%= image_tag('vihod.png', class: 'img-responsive')%></div>

		</div><!-- ROW-->
	<div class = 'otstup'></div>
	<div class = 'row rooms'>
	<div class = 'col-md-4  col-xs-4'><%= image_tag('auto.png', class: 'img-responsive') %></div>
	<div class = 'col-md-4  col-xs-4'><%= image_tag('autograph.png', class: 'img-responsive') %></div>
	<div class = 'col-md-4  col-xs-4'><%= image_tag('basket.png', class: 'img-responsive') %></div>
	<div class = 'col-md-4  col-xs-4'><%= image_tag('bike.png', class: 'img-responsive') %></div>
	<div class = 'col-md-4  col-xs-4'><%= image_tag('boxing.png', class: 'img-responsive') %></div>
	<div class = 'col-md-4  col-xs-4'><%= image_tag('football.png', class: 'img-responsive') %></div>
	
	
	
	
	
	</div><!-- ROW2-->
	<div class = 'otstup'></div>
   	<div class = 'row down_images'>
		<div class = 'col-md-6  col-xs-6'><%= image_tag('graffity.png',class: 'img-responsive')%></div>
		<div class = 'col-md-6 col-xs-6'><%= image_tag('dver.png',class: 'img-responsive')%></div>
   	</div><!--ROW3-->
	
	
</div> <!--CONTAINER-->


<!-- MOBILE-XS DEVISES-->

