<div class = 'row'>
	<div class = 'panel panel-primary'>
		<div class = 'panel-heading'>Наши игровые комнаты</div>
			<div class = 'panel-body'>
				
				<div class  = 'col-lg-12 col-md-12'>
					<p class = 'lead text-center'>V.I.P Room</p>
					<%= image_tag('vip-room.jpg',class: 'imageClip-gallery img-responsive') %>
					</div>
		<hr>
				
	<div class = 'col-lg-12 col-md-12 col-xs-6'>
		<p class = 'lead text-center'>Auto Room</p>
		
		<%= image_tag('auto-room.jpg',class: 'imageClip-gallery img-responsive')%>
		</div>
		</div>
		<hr>
		
		<div class = 'col-lg-12 col-md-12'>
			<p class = 'lead text-center'>Basketball Room</p>
			
			<%= image_tag('basket-room.jpg',class: 'imageClip-gallery img-responsive')%>
			</div>
		<hr>	
			
			<div class  = 'col-lg-12 col-md-12'>
				<p class = 'lead text-center'>Boxing Room</p>
				
				<%= image_tag('box-room.jpg',class: 'imageClip-gallery img-responsive') %>
				</div>
	<hr>
	
	<div class  = 'col-lg-12 col-md-12'>
		<p class = 'lead text-center'>Bike Room</p>
		
		<%= image_tag('bike-room.jpg',class: 'imageClip-gallery img-responsive') %>
		</div>
<hr>

<div class  = 'col-lg-12 col-md-12'>
	<p class = 'lead text-center'>Football Room</p>
	
	<%= image_tag('football-room.jpg',class: 'imageClip-gallery img-responsive') %>
	</div>
<hr>

	</div>
	
	</div>
	</div>
	</div>