<% cache @news do %>
<div class = "row">
	<div class = 'col-md-8 col-lg-8 col-xs-8'>
 <div class="demo-browser">
            <div class="demo-browser-side">
              <div class="demo-browser-author"></div>
              <div class="demo-browser-action">
                <%= link_to 'Галерея' , pages_gallery_path, class: 'btn btn-success btn-lg btn-block'%>
              </div>
              <h5>комнаты с уникальным дизайном</h5>
              <h6>
               VIP-зал с огромным экраном!
              </h6>
            </div>
            <div class="demo-browser-content">
              <%= link_to image_tag('basket-room.jpg', class: 'img-responsive'), pages_gallery_path %>
              <%= link_to image_tag('bike-room.jpg', class: 'img-responsive'), pages_gallery_path%>
              <%= link_to image_tag('box-room.jpg', class: 'img-responsive'), pages_gallery_path%>
              <%= link_to image_tag('auto-room.jpg', class: 'img-responsive'), pages_gallery_path%>
			  <%= link_to image_tag('autograph-room.jpg', class: 'img-responsive'), pages_gallery_path%>
			  <%= link_to image_tag('vip-room.jpg', class: 'img-responsive'),pages_gallery_path%>
            </div>
          </div>
        </div>


<div class = "col-lg-4 col-md-4 col-xs-4">
<div class = "panel panel-primary">
<div class = "panel-heading">Последние новости</div>
<div class = "panel-body">

<% @news.each do |news| %>
	
	<%= link_to (truncate news.title, length: 50), news, class: 'text-info lastnews' %>
	<hr>
	<%end%>
	</div>
</div>
</div>

</div>
<% end %>