<% cache @jumbotron do %>
<div class="jumbotron text-left">
	<div class = 'row'>
		<div class = 'col-lg-8 col-md-8 col-xs-8 jumtext'>
			
    <h1>PlayStation3 club.</h1>
    <p class="lead">Первый в Харькове PlayStation3 клуб.</p>
    <p><a><%= link_to 'Перейти к новостям' , news_index_path, class: "btn btn-primary btn-lg " %> </a></p>
</div>
<div class = "col-lg-4"></p><span class = "jumbotron-image"><%= image_tag('210x176.png')%><p class = 'lead'>Уже у нас в клубе!</p></span></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('PS3_Logo.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('ufc.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('nba.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('mk.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('gt5.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('gr.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('fifa13.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('rage.png',width:80)%></div>
</div>
<div class = 'row'>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('crysis.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('bio.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('grid.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('bord.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('nhl13.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('dirt3.png',width:80)%></div>
<div class = "ccol-lg-1 col-md-1 col-xs-1"><%= image_tag('asscreed.png',width:80)%></div>
<div class = "col-lg-1 col-md-1 col-xs-1"><%= image_tag('walkdead.png',width:80)%></div>



</div>
</div>
<% end %>