<div class="navbar navbar-inverse navbar-static-top topnavbar mynav">
  <div class="container">
    <div class="row">
        
  <div class="col-lg-4 col-sm-4 vklogo">
  <h2><%= image_tag 'vk-02.png',width: 30%><%= link_to 'vk.com/psclub_kh', 'http://vk.com/psclub_kh' %></h2>
    </div>
    <div class = 'col-lg-4 col-sm-4 logo'>
    <h2><%= link_to 'PS3club', root_path %></h2>
    </div>
    
  <div class="col-lg-4 col-sm-4 telephones">
    <h3>Тринклера 24</h3>
  
  <h2>
  097-62-192-13</h2>
  <h2>063-789-58-98
  </h2>
  </div>
  </div>
  
      </div>
</div>


<div class="header-middle">
    <a href=""  title="Playstation3 club харьков" alt=" "><div class="fb"><span aria-hidden="true" class="icon-facebook"></span></div></a> 
    <a href="" title="psclub kharkov псклуб" alt="псклуб playstation"><div class="gpl"><span aria-hidden="true" class="icon-google-plus"></span></div></a>
    <a href=""  title="ps3club харьков" alt="playstation kharkov"><div class="vk"></div></a>
    <a href=""  title="ps3 playstation club"><div class="xz"><span aria-hidden="true" class="icon-feed"></span></div></a>
    <a href="" title="psclub ps3club" alt="psclub ps3club псклуб"><div class="tw"><span aria-hidden="true" class="icon-twitter"></span></div></a>       
  </div>
<!-- Fixed navbar -->
   <div class="navbar navbar-inverse navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
       <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav ">
         <li><%= link_to 'Главная' , root_path, class: 'icon-home2' %></li>
         <li><%= link_to 'Новости' , news_index_path, class: 'icon-blog'%></li>
         <li><%= link_to 'О нас', about_path, class:'icon-rocket'%></li>
         <li><%= link_to 'Контакты', contacts_path, class: 'icon-location2' %></li>
         <li><%= link_to 'Пожелание', new_wish_path, class: 'icon-envelop' %></li>
                    </ul>
               </div><!--/.nav-collapse -->
     </div>
   </div>