<% cache @photos do %>
<div class = 'jumbotron jum-modify'>
<div class = "row">

	
	<div class = 'col-md-3 col-lg-3 col-xs-3'>
	<%= image_tag('http://cs322116.vk.me/v322116208/4673/P0NqK4efg4g.jpg',class: 'imageClip')%>
	</div>
	<div class = 'col-md-3 col-lg-3 col-xs-3'>
	<%= image_tag('http://cs406527.vk.me/v406527208/a5d0/NYsvHBVmAIs.jpg', class: 'imageClip')%>
	</div>
	<div class = 'col-md-3 col-lg-3 col-xs-3'>
	<%= image_tag('http://cs406527.vk.me/v406527208/a5c8/71kREFT2gcY.jpg', class: 'imageClip')%>
	</div>
	<div class = 'col-md-3 col-lg-3 col-xs-3'>
	<%= image_tag('http://cs406527.vk.me/v406527208/a5b8/mc8qOipKv8c.jpg', class: 'imageClip')%>
	<div class = 'col-lg-2'><p></div>
	</div>
	<div class = 'col-md-3 col-lg-3 col-xs-3'>
	<%= image_tag('http://cs406527.vk.me/v406527208/a5b0/OlaxRHMcPt4.jpg', class: 'imageClip')%>
	</div>
	<div class = 'col-md-3 col-lg-3 col-xs-3'>
	<%= image_tag('http://cs406527.vk.me/v406527208/a39f/H1gT9hp2S74.jpg', class: 'imageClip')%>
	</div>
	<div class = 'col-md-3 col-lg-3 col-xs-3'>
	<%= image_tag('http://cs406527.vk.me/v406527208/a296/TJJ6h60tPmw.jpg', class: 'imageClip')%>
	</div>
	<div class = 'col-md-3 col-lg-3 col-xs-3'>
	<%= image_tag('http://cs406527.vk.me/v406527208/a21c/THHJt1Ksamk.jpg', class: 'imageClip')%>
	</div>
	<div class = 'col-lg-10'><p></div>
		<div class = 'col-md-3 col-lg-3 col-xs-3'>
		<%= image_tag('http://cs406527.vk.me/v406527208/a1a4/r86tt9NUyCU.jpg', class: 'imageClip')%>
		</div>
		<div class = 'col-md-3 col-lg-3 col-xs-3'>
		<%= image_tag('http://cs406527.vk.me/v406527208/a0a9/ReWSrp-M_c4.jpg', class: 'imageClip')%>
		</div>
		<div class = 'col-md-3 col-lg-3 col-xs-3'>
		<%= image_tag('http://cs406527.vk.me/v406527208/9ff1/p_DW1LImfKk.jpg', class: 'imageClip')%>
		</div>
		<div class = 'col-md-3 col-lg-3 col-xs-3'>
		<%= image_tag('http://cs406527.vk.me/v406527208/9f65/i7pJ_QqO894.jpg', class: 'imageClip')%>
		</div>
	
</div>

</div>
<% end %>