<!DOCTYPE html>
<html>
<head>
  <title>PS3 Club</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "container">
		<div class = "main-banner">
	<%= link_to (image_tag('main_banner.png')) ,root_path %>
	</div>
	<div class="header-banner">
	<%= image_tag('header_bg.png',class: 'banner')%>
	</div>
<%= render 'layouts/navbar.html.erb' %>
<%= render 'layouts/jumbotron.html.erb' %>
<%= render 'layouts/items.html.erb'%>
<%= render 'layouts/alerts.html.erb' %>
<%= yield %>
</div>
<div class="container">
<%= render 'layouts/footer.html.erb'%>
</div>
</body>
</html>
