<!DOCTYPE html>
<html>
<head>
  <title>PS3 Club</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "container">
		<div class = "main-banner">
	<span class ="my-banner"><%= link_to (image_tag('main_banner.png')) ,root_path %></span>
		<span class = 'pull-left ps-banner'><%= link_to (image_tag('ps3club.jpg', width:130))%></span>
		<span class = "addr-banner"> <%= link_to (image_tag('addr-banner.png',width:160)),pages_contacts_path%></span>
		</div>
	<div class="header-banner">
	<%= image_tag('header_bg.png',class: 'banner')%>
	</div>
<%= render 'layouts/navbar.html.erb' %>
<%= render 'layouts/jumbotron.html.erb' %>
<%= render 'layouts/items.html.erb'%>
<%= render 'layouts/alerts.html.erb' %>
<%= yield %>
</div>
<div class="container">
<%= render 'layouts/footer.html.erb'%>
</div>
</body>
</html>
