<!DOCTYPE html>
<html>
<head>
  <title>PS3 Club</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar.html.erb' %>
<%= render 'layouts/jumbotron.html.erb' %>
<%= render 'layouts/alerts.html.erb' %>

<div class="container">
<%= yield %>
</div>
<%= render 'layouts/footer.html.erb'%>
</body>
</html>
