<!DOCTYPE html>
<html>
<head>
  <title>PS3 Club</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>



  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "container">
		
<%= render 'layouts/navbar' %>
<%= render 'layouts/alerts' %>
<%= yield %>
</div>
<div class="container">
<%= render 'layouts/footer'%>
</div>
</body>
</html>
