<p class="lead">Изменить профиль</p>
<hr>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<div class="row">
	<div class="col-lg-4">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true,class: "form-control" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label "Новый пароль" %> <i>(оставьте пустым,если не хотите менять</i><br />
  <%= f.password_field :password, :autocomplete => "off",class: "form-control" %></div>

  <div><%= f.label "новый пароль еще раз" %><br />
  <%= f.password_field :password_confirmation, class: "form-control" %></div>

  <div><%= f.label "Текущий пароль" %> <i>(Введите ваш текущий пароль)</i><br />
  <%= f.password_field :current_password, class: "form-control" %></div>
<br>
  <div><%= f.submit "Изменить", class: "btn btn-warning " %>
	
<% end %>
<%= link_to "Назад", :back, class: "btn btn-default" %></div>
</div>
</div>
<br>
<i class="text-muted">Вы можете удалить свой профиль: </i>
<p></p>

 <%= button_to "Удалить профиль", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger btn-xs" %>
<br>

